Client/Connected Services/Repo/Repositoryservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Repositoryservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRepository_GetByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByKey" />
  </wsdl:message>
  <wsdl:message name="IRepository_GetByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IRepository_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRepository_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRepository_RemoveByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveByKey" />
  </wsdl:message>
  <wsdl:message name="IRepository_RemoveByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IRepository_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IRepository_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IRepository_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IRepository_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IRepository">
    <wsdl:operation name="GetByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepository/GetByKey" message="tns:IRepository_GetByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepository/GetByKeyResponse" message="tns:IRepository_GetByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepository/GetAll" message="tns:IRepository_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepository/GetAllResponse" message="tns:IRepository_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepository/RemoveByKey" message="tns:IRepository_RemoveByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepository/RemoveByKeyResponse" message="tns:IRepository_RemoveByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepository/Create" message="tns:IRepository_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepository/CreateResponse" message="tns:IRepository_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepository/Update" message="tns:IRepository_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepository/UpdateResponse" message="tns:IRepository_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRepository" type="tns:IRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByKey">
      <soap:operation soapAction="http://tempuri.org/IRepository/GetByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IRepository/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveByKey">
      <soap:operation soapAction="http://tempuri.org/IRepository/RemoveByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IRepository/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IRepository/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Repositoryservice">
    <wsdl:port name="BasicHttpBinding_IRepository" binding="tns:BasicHttpBinding_IRepository">
      <soap:address location="http://localhost/Repository" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>